/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */

body {
    margin: 0;
    padding: 0;
    background: #050505;
    font-family: 'Krub', Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #5B5B5B;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Charmonman', cursive;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

a {
   color: #5E5E5E;
}

#wrapper {
    background: #FFFFFF;
    width:100%;
}


header {
    padding: 0 20px;
}

#header-container {
    height: 150px;
    margin: 0 auto;
    padding: 0px 0px;
}

/* Logo */
#logo {
    float: left;
    max-width: 300px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

#logo h1 {
    line-height: 120px;
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo h1 a {
    color: #1F1F1F;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000000;
}

#banner {
    margin: 0px auto;
    background: url(../images/img03.png) no-repeat left bottom;
}

#banner img {
    width: 100%;
    height: auto;
}

/* Menu */
nav {
    width: 100%;
    position: absolute;
    top: 30px;
    right: 0px;
    /* Optional */
    /*position: sticky;
    top: 0;*/
  }

nav ul a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav li {
    width:100%;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}
nav li:hover {
    background-color:rgba(255, 255, 255,0.85);
}
nav li:hover a {
    color:rgb(0, 0, 0);
}
nav .current_page_item {
    background-color:rgba(255, 255, 255,0.85);
    font-weight: bold;
}
nav .current_page_item a {
    color:rgb(0, 0, 0);
}
/* Menu Mobile Icon */
nav label {
    display: block;
    color: white;
    background: #8e3e3e;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    margin-right: 40px;
    float: right;
}
nav input {
    visibility:hidden;
}

nav ul { 
    display: none; 
}
nav input:checked ~ ul { 
    display: block;
    list-style-type:none;
    padding-top: 65px;
    margin-top:-20px;
    margin-left: -40px;
    background-color: rgba(0, 0, 0, 0.75);
}

main {
    margin: 0 auto;
    padding: 20px 20px;
}

section {
    padding: 0px;
}

article {
    /*overflow: hidden;*/
    margin-bottom: 40px;
    border-bottom: 1px solid #E7EBED;
}

article h2 {
    padding: 7px 0px 0px 0px;
    letter-spacing: -1px;
}

article h2 a {
    border: none;
    text-decoration: none;
    color: #222222;
}

article h2+p {
    margin-bottom: 50px;
    padding: 10px 0px 0px 0px;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

article p .date {
    float: left;
}

article p .posted {
    float: right;
}

article .entry {
    padding: 0px 0px 40px 0px;
    text-align: justify;
}

.entry img {
    width: 100%;
    height:auto;
    padding: 0;
    margin-bottom: 15px;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
}

.more {
    display: block;
    float: left;
    width: 88px;
    padding: 5px 5px;
    margin-right: 10px;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.comments {
    display: block;
    float: left;
    width: 88px;
    padding: 5px 5px;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */
aside {
    margin: 0px;
    padding: 30px 0px 0px 0px;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside li {
    margin: 0;
    padding: 0;
}

aside li ul {
    margin: 0px 0px;
    padding-bottom: 10px;
}

aside li li {
    line-height: 40px;
    border-bottom: 1px solid #E7EBED;
    margin: 0px 0px;
    border-left: none;
}

aside li li a {
    padding: 0px 0px 0px 20px;
    background: url(../images/img04.jpg) no-repeat left 50%;
    text-decoration: none;
}

aside h2 {
    height: 38px;
    padding: 20px 0px 0px 0px;
    letter-spacing: -.5px;
    font-size: 1.8em;
    color: #222222;
}

aside a:hover {
    text-decoration: underline;
}

aside {
    display: flex;
    justify-content:center;
}

/* Side bar drop down */
.dropbtn {
    background-color: #8e3e3e;
    color: white;
    margin: 0 30px;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    margin-bottom: 40px;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    left: 30px;
    padding-left: 15px;
    background-color: #d1e9eb;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(7, 29, 126, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #8e3e3e;
}

/* Footer */
footer {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 50px 0 15px 0;
    font-family: 'Abel', sans-serif;
    background: rgb(0, 0, 0);
    clear: both;
}

footer p {
    margin: 0;
    padding-top: 20px;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #a1a1a1;
}

/* Media Queries */
@media screen and (max-width: 390px) {
    #logo h1 {
        font-size: 3em;
    }

    nav label {
        padding: 8px;
    }
}

@media screen and (min-width: 768px) {
    #header-container {
        width: 100%;
    }

    section {
        float: right;
        width: 70%;
    }

    .entry img {
        float: right;
        width: 50%;
        padding: 0 0 0 20px;
    }

    aside {
        float: left;
        width: 25%;
        display:block;

    }
    .dropbtn {
        display:none;
    }

    .dropdown-content {
        display: block;
    }
}

@media screen and (min-width: 960px) {
    nav {
        top:10px;
        right:60px;
        float: right;
        width: 500px;
        height: 90px;
        margin: 0 auto;
        padding: 0;
    }
    nav ul {
        display: flex;
        float: right;
        margin: 0;
        padding: 20px 0px 0px 0px;
        list-style: none;
        line-height: normal;
    }
    nav ul li {
        float: none;
        width:0;
        padding: 0; 
        border-top:none;
        margin: 0 55px;
    }

    nav ul li a {
        display: inline;
        line-height: 100px;
        margin-right: 1px;
        padding: 20px;
        text-shadow: 1px 1px 0px rgba(0,0,0,.2);
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        color: rgb(31, 31, 31);
        border: none;
        width:0; 
    }

    nav ul li:hover {  
        background-color:rgba(255, 255, 255,0); 
    }

    nav ul li a:hover, nav ul .current_page_item a {
        background: url(../images/img01.jpg) repeat;
        text-decoration: none;
        color: #FFFFFF;
    }

    nav label, nav input {
        display:none;
    }

    nav input:checked ~ ul { 
        display: none;
    }
}
